<!doctype html>
<html lang="sv">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Välkommen{% endblock %} — ed.etnolit.se</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="{{ '/static/css/normalize.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/static/css/skeleton.css'|asseturl }}">
  <link rel="stylesheet" href="{{ get_pygments_stylesheet()|url }}">
  <link rel="stylesheet" href="{{ '/static/css/custom.css'|asseturl }}">

  <script src="{{ '/static/js/anchorlinks.js'|asseturl }}"></script>
</head>
<body>
  <div class="container">
{% block body %}{% endblock %}
    <footer>Copyright &copy; Linus Törngren 2018-2020</footer>
  </div>


  <script async src="https://stat.etnolit.se/tracker.js" data-ackee-server="https://stat.etnolit.se" data-ackee-domain-id="55f49725-a7e4-4567-96ed-18f475cf2ba8"></script>
</body>
</html>
