{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <header>
    <h1>{{ this.title }}</h1>
  </header>

  {{ this.body }}

  {% if this.children %}
    {% for page in this.children %}
      <h2><a href="{{ page|url }}">{{ page.title }}</a></h2>
      <p>{{ page.summary }}</p>
    {% endfor %}
  {% endif %}


  {% set root = site.get('/') %}
  {% set siblings = this.get_siblings() %}

  {% if not root == this.parent %}
    <nav>
      <div class="prev">
        {% if siblings.prev_page %}
          « <a href="{{ siblings.prev_page|url }}">{{ siblings.prev_page.title }}</a>
        {% endif %}
      </div>
      <div class="center">
        <a href="{{ this.parent|url }}">{{ this.parent.title }}</a>
      </div>
      <div class="next">
        {% if siblings.next_page %}
          <a href="{{ siblings.next_page|url }}">{{ siblings.next_page.title }}</a> »
        {% endif %}
      </div>
    </nav>
  {% endif %}

{% endblock %}
